@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root{
  --blue : #1320DC;
  --text-gray : #77798C;
  --pink : #FB0A72;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1320DC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 32, 220, 0.8);
}

body {
  font-size: 1.6rem !important;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
  
}

span{
  cursor: pointer;
}

.container{
  width: 100%;
  height: 100vh;
  
  
}
.nav-bar{
  width: 150px;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.nav-bar-left{
  width: 90%;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
}

.box-one{
  
  width: 100%;
  align-items: center;
  height: 90px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  
  
}

.one-one{
  color: #77798C;
  height: 40px;
  width: 300px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color : #f1f1f1;
}
.images{
  width: 20px;
  height: 20px;
}

.images img{
  width: 100%;
  height: 100%;
  
}


.one-two{
  
  height: 50px;
  width: 150px;
  text-align: center;
}

.one-three{
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 

}

select{
  margin-left: 2rem;
  border: none;
  font-size: 15px;
}


.three-one{
  height: 45px;
  width: 200px;
  display: flex;
  align-items: center;
  

}

.three-two{
  margin-left: 1rem;
  height: 45px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}




.one-four{
  
  display: flex;
  

}

.three-two-one{
  display: flex;
  justify-content: center;
  align-items: center;
   width: 100px;
   height: 40px;
   border-radius: 0.5rem;
   border: 2px solid #1320DC;
   color: #1320DC ;
}

.three-two-one:hover, .button2:hover, .button2:hover p, .dernier-bouton:hover, .dernier-bouton:hover p{
  background-color: #1320DC ;
  color: white;
  
   

}



.three-two-two{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  width: 100px;
   height: 40px;
   border-radius: 0.5rem;
   background-color:  #1320DC;
   color: white;
   border: 2px solid #1320DC ;

}

.three-two-two:hover, .buttons1:hover, .buttons1:hover p , .buttons1:hover p .lien{
  background-color: white ;
  color: rgba(19, 32, 220, 0.8);
  


}

.box-one1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #77798C;
}

.nav-bar-bottoms:hover p{
  color: rgba(19, 32, 220, 0.8);
} 

.nav-bar-bottoms a{
  text-decoration: none;
  color: #77798C;

}

.nav-bar-bottoms:hover a{
  color: rgba(19, 32, 220, 0.8);
}

.nav-bar-bottoms{
  margin-left: 1rem;
}

.corps{
    padding-top: 8rem;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.image{
  
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 350px;
  background-image: url('../images/Untitled-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
}



.info-rigth{
  width: 85%;
  display: flex;
  flex-direction: column;
  
}

.info-rigth1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.info-rigths{
  background-color: white;
  width: 24%;
  border-radius: 0.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}


.jupe{
  width: 100%;
  height: 200px;
}

.jupe img{
  width: 90%;
  height: 100%;
}

.nom-jupe{
  width: 100%;
  height: 80px;
  padding-top: 3rem;

}



.button{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 3rem;
  
}

.buttons1{
  width: 70%;
  height: 50px;
  border-radius: 0.5rem;
  background-color:  rgba(19, 32, 220, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #1320DC ;
 }


.lien{
    color: white;
    text-decoration: none;
  
}



.button2{
  width: 25%;
  height: 50px;
  border-radius: 0.5rem;
  border: 2px solid #1320DC;
  display: flex;
  justify-content: center;
  align-items: center;
  

}


.button2 p{
  
  color: #1320DC ;
  

}

.dernier{
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dernier-bouton{
  width: 130px;
  height: 50px;
  color: #1320DC ;
  border: 2px solid #1320DC;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-top: 4rem;
  
  

}

.footer{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}


/* javascript */




