@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root{
  --blue : #1320DC;
  --text-gray : #77798C;
  --pink : #FB0A72;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1320DC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 32, 220, 0.8);
}

body {
  font-size: 1.6rem !important;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
}

.container{
  border: 1px blue;
  width: 100%;
  height: 100vh;
  
  
}
.nav-bar{
  width: 150px;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.nav-bar-left{
  width: 90%;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
}

.box-one{
  
  width: 100%;
  align-items: center;
  height: 90px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  
  
}

.one-one{
  
  height: 45px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color : #f1f1f1;
}

img{
  width: 20px;
  height: 20px;
  
}
.image {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.one-two{
  
  height: 50px;
  width: 150px;
  text-align: center;
}

.one-three{
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 

}


.three-one{
  height: 45px;
  margin-left: 10px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.three-two{
  margin-left: 1rem;
  height: 45px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.arrow{
 
  display: flex;
  align-items: center;

}

.arrow img{
  margin-left: 1rem;
  

}

.one-four{
  
  display: flex;
  

}

.three-two-one{
  
   width: 100px;
   height: 40px;
   border-radius: 0.5rem;
   border: 1px solid #1320DC;
}

.three-two-two{
  margin-left: 0.5rem;
  width: 100px;
   height: 40px;
   border-radius: 0.5rem;
   background-color:  rgba(19, 32, 220, 0.8);

}

.box-one1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.nav-bar-bottoms{
  margin-left: 1rem;
}

.nav-bar-right{
  height: 150px;
  width: 6px;
  background-color: rgba(19, 32, 220, 0.8);
}

.corps{
  width: 100%;
  height: 100vh;
  background-image: url('../icones/Groupe-45.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

