@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root{
  --blue : #1320DC;
  --text-gray : #77798C;
  --pink : #FB0A72;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1320DC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 32, 220, 0.8);
}

body {
  font-size: 1.6rem !important;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
  
}



span{
  cursor: pointer;
}

.container{
  width: 100%;
  height: 100vh;
  
  
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.nav-bar-left{
  width: 90%;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
}

.box-one{
  
  width: 100%;
  align-items: center;
  height: 90px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  
  
}

.one-one{
  color: #77798C;
  height: 40px;
  width: 300px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color : #f1f1f1;
}

img{
  width: 20px;
  height: 20px;
  
}
.image {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.one-two{
  
  height: 50px;
  width: 150px;
  text-align: center;
}

.one-three{
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 

}

select{
  margin-left: 2rem;
  border: none;
  font-size: 15px;
}


.three-one{
  height: 45px;
  width: 200px;
  display: flex;
  align-items: center;
  

}

.three-two{
  margin-left: 1rem;
  height: 45px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}




.one-four{
  display: flex;
}

.three-two-one{
  display: flex;
  justify-content: center;
  align-items: center;
   width: 100px;
   height: 40px;
   border-radius: 0.5rem;
   border: 2px solid #1320DC;
   color: #1320DC ;
   cursor: pointer;
}

.three-two-one p{
  color: #1320DC ;
}

.three-two-one:hover, .three-two-one:hover p,  .button2:hover, .button2:hover p, .dernier-bouton:hover, .dernier-bouton:hover p{
  background-color: #1320DC ;
  color: white;
  
}



.three-two-two{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  width: 100px;
   height: 40px;
   border-radius: 0.5rem;
   background-color:  #1320DC;
   color: white;
   border: 2px solid #1320DC ;
   cursor: pointer;

}

.three-two-two p{
  color: white;
  

}

.three-two-two:hover, .three-two-two:hover p, .buttons1:hover, .buttons1:hover p , .buttons1:hover p .lien{
  background-color: white ;
  color: rgba(19, 32, 220, 0.8);

}

.box-one1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  
}

.nav-bar-bottoms a{
  text-decoration: none;
  color: #77798C;

}

.nav-bar-bottoms:hover a{
  color: rgba(19, 32, 220, 0.8);
}

.nav-bar-bottoms{
  margin-left: 1rem;
}


.corps {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-image: url('../icones/Groupe-45.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.corps-left1{ 
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate y(-50%);
  z-index: 10;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: rgba(19, 32, 220, 0.8) ;

}

.corps-left2{ 
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translate y(-50%);
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  background-color: white;

}

.corps-rigth{
  width: 500px;
  margin-left: 10rem;
  margin-top: 10rem;

}

.titre{
  margin-top: 3rem;
  color: white;
}

.sous-titre{
  margin-top: 3rem;
  color: white;
}

.achat{
  margin-top: 3rem;
  color: white;
  border: 2px solid #FB0A72;
  background-color: #FB0A72;
  width: 200px;
  height: 50px;
  border-radius: 5px;
 display: flex;
 justify-content: center;
 align-items: center;

}

.achat:hover, .achat:hover p{
  background-color: white;
  color: #FB0A72;
  

}


.model{
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.models{
  position:relative;
  width: 29%;
  height: 60%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  margin-left: 1.5rem;
  border: 1px solid #f1f1f1;

}

a.models{
  text-decoration: none;
}

.models::before{
  z-index: 4;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: rgba(19, 32, 220, 0.5);
  transition: background-color 0.5s;
  
}
.models:hover::before{
  width: 100%;
  height: 100%;
}

.models-left{
  width: 35%;
  height: 100%;
  

}

.models:hover .models-left{
  z-index: 5;
  
}

.models-rigth{
  width: 65%;
  height: 100%;

}

.models-rigth img{
  width: 100%;
  height: 100%;

}

.models-left p{
  color: #1320DC;
  padding-top: 3rem;
  font-size: 20px;
  
}

.models-left p:last-child{
  font-size: 16px;
  text-decoration: underline;
  padding-top: 0;
   visibility: hidden; 
}

.models:hover .models-left p{
  color: white;
  transition: color 0.5s; 
}

.models:hover .models-left p:last-child{
  visibility: visible;
  
}

.info{
  width: 100%;
  height: 1500px;

  display: flex;
  justify-content: space-between;
  
}

.info-left{
  width: 20%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 0px 9px 1px #f1f1f1;/* Full height */
  
}

.info-lefts{
  
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 0px 9px 1px #f1f1f1;/* Full height */
  position: sticky;
  top: 0px;

}




.info-left1{
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-bottom: 0.5rem;
  color: #1320DC ;
  border-bottom: 1px solid #f1f1f1;
  font-family: 'Tangerine', serif;
  font-size: 20px;

}


.info-left2{
  padding-left: 2rem;
  font-family: 'Tangerine', serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
   height: 50px;
  color: #77798C ;
  border-bottom: 1px solid #f1f1f1;

}



.info-rigth{
  width: 80%;
  display: flex;
  padding-left: 0.7rem;
  flex-direction: column;
  background-color: #f1f1f1;
  


}

.info-rigth1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.info-rigths{
  background-color: white;
  width: 24%;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}


.jupe{
  width: 100%;
  height: 200px;
  
}

.jupe:hover , .jupe:hover img{
  transform: scale(1.1);

}

.jupe img{
  width: 90%;
  height: 100%;
}

.nom-jupe{
  width: 100%;
  height: 80px;
  padding-top: 3rem;

}



.button{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 3rem;
  
}

.buttons1{
  width: 70%;
  height: 50px;
  border-radius: 0.5rem;
  background-color:  rgba(19, 32, 220, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #1320DC ;
  
}

.lien{
  color: white;
  text-decoration: none;

}



.button2{
  width: 25%;
  height: 50px;
  border-radius: 0.5rem;
  border: 2px solid #1320DC;
  display: flex;
  justify-content: center;
  align-items: center;
  

}


.button2 p{
  
  color: #1320DC ;
}


.dernier{
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dernier-bouton{
  width: 130px;
  height: 50px;
  color: #1320DC ;
  border: 2px solid #1320DC;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-top: 4rem;
  
  

}

.footer{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}










.modal{
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  transform: scale(0);
}

.three-two-one:focus  .modal{
  transform: scale(1);
}

.container-modal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 430px;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.modal2{
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: start;
  transform: scale(1);
}


.container-modal2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  width: 450px;
  height: 600px;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1px;
}


.connexion{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  border-bottom: 1px solid #f1f1f1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2rem;
}

.lien-connexion a{
  text-decoration: none;
  color: black;
}


.inscrit{
   display: flex;
  padding-left: 0.5rem;

}
.inscrit p{
  padding-top: 0.3rem;
}

.inscrit a{
  text-decoration: none;
  color: #FB0A72;
  padding-left: 0.3rem;
}

.resau{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.resau-1{
  font-size: 13px;
  width: 49%;
  height: 45px;
  border-radius: 0.2rem;
  background-color: white;
  display: flex;
 

}

.resau-2{
  font-size: 13px;
  width: 49%;
  height: 45px;
  border-radius: 0.2rem;
  background-color: white;
  display: flex;
  background-color: #1320DC;;

}
.fa-google-plus-g{
  padding-top: 0.8rem;
  padding-left: 0.5rem;
  color: #FB0A72;
  font-size: 20px;
}

.fa-facebook-f{
  font-size: 20px;
  padding-top: 0.8rem;
  padding-left: 0.5rem;
  color: white;
  
}

.lien-google a{
  text-decoration: none;
  color: black;
  padding-left: 1rem;
 
  

}



.lien-facebook a{
  text-decoration: none;
  color: white;
  padding-left: 1rem;

}

.lignes{
  display: flex;
  width: 80%;
  height: 2px;
  justify-content: center;
}

.lignes p{
  margin-left: 1rem;
  margin-right: 1rem;
}


.ligne{
  width: 30%;
  border-bottom: 1.5px solid #f1f1f1;
  
  margin-top: 1.6rem;

}

.donnee{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.nom_label{
  border: 0.5px  solid #f1f1f1;
  border-radius: 0.3rem;
  font-size: 15px;
  height: 40px;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  display: flex;
  
}

.nom_label:hover{
  border: 1px solid #1320DC;
}

.valider{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1320DC;
  border: 2px solid #1320DC;
  border-radius: 0.5rem;
}

.valider:hover, .valider:hover a{
  background-color: white;
  color: #1320DC;
  transition: 0.2s;
}

.valider a{
  text-decoration: none;
  color: white;

}

.oublie a{
  text-decoration: none;
  color: #FB0A72;

}








@media screen and (max-width: 768px) {

  .one-one, .box-one1, .three-one{
    display: none;
  }

  

  .icon-responsive{
    width: 200px;
    height: 200px;
    border: 1px solid saddlebrown;
  }
  .container{
    width: 100%;
    height: 100vh;
  }

    .corps {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      padding: 2rem;
    }
  

  .corps-rigth{
    display: none;
  }



  
}






